[Unit]
Description={{ instance_description }}
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=minecraft
Group=minecraft
TimeoutSec=1800
Type=forking

WorkingDirectory={{ working_dir }}
ExecStart={{ working_dir }}/startserver.sh
ExecStop=/bin/kill -15 $MAINPID


[Install]
WantedBy=multi-user.target